@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700);
body {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #163e20;
  font-size: 13px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* heading */
h1 {
  font-size: 100px;
  text-transform: uppercase;
  font-family: "Gambetta", serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: #FFBD00;
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}

p {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: MintCream;
  letter-spacing: 0.5px;
}

/* menu extravaganza */
#header {
  padding: 2rem;
}

#menu {
  background: #34623F;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1100;
}
#menu.open {
  opacity: 1;
  visibility: visible;
}
#menu.open li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
#menu.open li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
#menu.open li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
#menu.open li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
#menu.open li:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
#menu.open li:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
#menu.open li:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
#menu.open li:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
#menu.open li:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
#menu.open li:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#menu.open li {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
#menu ul:hover a {
  opacity: 0.5;
}
#menu ul a {
  -webkit-transform: translateZ(0);
  transition: opacity 0.3s ease-in-out;
}
#menu ul a:hover {
  opacity: 1;
}
#menu .main-nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#menu .main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu .main-nav a {
  color: #FFBD00;
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
#menu .main-nav a:first {
  padding-top: 0;
}

.toggle-menu {
  background-color: #34623F;
  border: none;
  cursor: pointer;
  display: inline-block;
  /*float: right;*/
  height: 100px;
  outline: none;
  padding: 0;
  pointer-events: initial;
  position: relative;
  vertical-align: middle;
  width: 50px;
  z-index: 1110;
}
.toggle-menu span {
  background-color: #FFBD00;
  content: "";
  display: block;
  height: 2px;
  left: calc(50% - 13px);
  position: absolute;
  top: calc(50% - 1px);
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  width: 26px;
}
.toggle-menu span:before, .toggle-menu span:after {
  background-color: #FFBD00;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
  width: 26px;
}
.toggle-menu span:before {
  top: 7px;
}
.toggle-menu span:after {
  top: -7px;
}
.toggle-menu.active span {
  background-color: transparent;
  transition: background 0.2s ease-out;
}
.toggle-menu.active span:before, .toggle-menu.active span:after {
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}
.toggle-menu.active span:before {
  top: 0;
  transform: rotate3d(0, 0, 1, -45deg);
}
.toggle-menu.active span:after {
  top: 0;
  transform: rotate3d(0, 0, 1, 45deg);
}


/*services drop down thing */
#services body {
  overflow-x: hidden;
}

#services ul {
  width: 100%;
  overflow: hidden;
  li {
    position: relative;
    cursor: pointer;
    .overlay {
      opacity: 0.4;
      background: #000;
      display: blocK;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 8;
    }
    .info {
      position: relative;
      width: 100%;
      z-index: 999;
      color: #fff;
      display: block;
      text-align: center;
      padding: 30px 20px 20px;
      box-sizing: border-box;
      h2 {
        font-size: 30px;
        line-height: 50px;
      }
      p {
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 20px;
      }
      .btn {
        line-height: 30px;
        display: inline-block;
        padding: 0 10px;
        border: 1px solid #fff;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        margin-bottom: 20px;
      }
      .description {
        display: none;
      }
    } 

    .bg-img {
      img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }
}

/*image gallery*/
#image_gallery p {
  height: 200px;
  width: 500px;
  margin: 100px auto;
  position: relative;
}

#image_gallery img {
  height: 100px;
  position: absolute;
  left: 0;
  offset-path: path('m 0 50 q 50-30 100-30 t 100 30 100 0 100-30 100 30');
  box-shadow: 1px 1px 3px #0008;
  transition: transform .4s ease-out, offset-path .4s cubic-bezier(.77,-1.17,.75,.84),box-shadow .3s, z-index .3s;
  z-index: 0;
}

#image_gallery img:hover {
  transform: scale(3);
  /* on hover, the path gets a bit shorter & flattened & shifted to left/bottom a bit for nicer movement */
  offset-path: path('m 5 65 q 45-0 90-0 t 90 0 90 0 90-0 90 0');
  box-shadow: 3px 4px 10px #0006;
  /* ensures that image gets on top of stack at the start of "popping" animation
     and gets back at the end of getting back. With smaller value, 2 different transitions would be needed */
  z-index: 999;
}

/* 3 images */
#image_gallery img:nth-last-child(3):first-child {
  offset-distance: 17%;
}
#image_gallery mg:nth-last-child(2):nth-child(2) {
  offset-distance: 49%;
}
#image_gallery img:last-child:nth-child(3) {
  offset-distance: 81%;
}

/* 4 images */
#image_gallery img:nth-last-child(4):first-child {
  offset-distance: 10%;
}
#image_gallery img:nth-last-child(3):nth-child(2) {
  offset-distance: 35%;
}
#image_gallery img:nth-last-child(2):nth-child(3) {
  offset-distance: 65%;
}
#image_gallery img:last-child:nth-child(4) {
  offset-distance: 90%;
}

/* 5 images */
#image_gallery img:nth-last-child(5):first-child {
  offset-distance: 0%;
}
#image_gallery img:nth-last-child(4):nth-child(2) {
  offset-distance: 25%;
}
#image_gallery img:nth-last-child(3):nth-child(3) {
  offset-distance: 51%;
}
#image_gallery img:nth-last-child(2):nth-child(4) {
  offset-distance: 75%;
}
img:last-child:nth-child(5) {
  offset-distance: 100%;
}