@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700);
@import "compass/css3";
@import "compass/reset/utilities";
@include global-reset;
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";


body {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #073712;
  font-size: 13px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

/* heading */
h1 {
  font-size: 88px;
  text-transform: uppercase;
  font-family: "Gambetta", serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: #d19a1a;
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 3px;
  color: #ffee00;
}

h2 {
  font-size: 75px;
  font-family: "Gambetta", serif;
  letter-spacing: 0.5px;
  margin-bottom: 0.8rem;
  color: #12B149;
  outline: none;
  text-align: center;
}

h3 {
  font-size: 50px;
  font-family: "Gambetta", serif;
  letter-spacing: 0.5px;
  margin-bottom: 0.8rem;
  color: #12B149;
  outline: none;
  text-align: center;
  display: flex;
	align-items: baseline;
}

h3::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 1rem;
	width: 3rem;
	height: 3rem;
	content: counter(list);
	padding: 1rem;
	border-radius: 50%;
	background-color: var(--c1);
	color: white;
}

p {
  font-size: 1.2em;
  line-height: 150%;
  text-align: left;
  width: 75%;
  text-indent: 10rem;
  color: MintCream;
  letter-spacing: 0.5px;
}

a {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: MintCream;
  letter-spacing: 0.5px;
}

/* menu extravaganza */
nav {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 319px;
  display: table;
  margin: 0 auto;
  transform: translateY(-50%);
}

nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #949494;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}
nav a:before {
  background-color: #d19a1a;
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}
nav a:after {
  background-color: #ffee00;
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}


#indicator {
  position: absolute;
  left: 17%;
  bottom: 0;
  width: 500px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s ease left;
}

nav a:hover {
  color: #fff;
}
nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

nav a:hover ~ #indicator {
  left: 17%;
  background: linear-gradient(190deg, #ffee00, #12B149);
  
}


/*services drop down thing */
#services ul {
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    cursor: pointer;
    .overlay {
      opacity: 0.4;
      /*background: #000;*/
      display: blocK;
      width: 100%;
      height: 100%;
      top: 0;      
      position: absolute;
      z-index: 8;      
    }
    .info {
      position: relative;
      width: 100%;
      z-index: 999;
      color: Mintcream;
      display: block;
      text-align:center;
      padding: 30px 20px 20px;
      box-sizing:border-box;
      h2 {
        line-height: 50px;
      }
      p {
        line-height: 30px;
        padding-bottom: 20px;
      }
      .btn {
       line-height: 30px;
       display: inline-block;
       padding: 0 10px;
       border: 1px solid #fff;
       font-size: 14px;
       text-transform: uppercase;
       text-decoration: none;
       color: #fff;
       margin-bottom: 20px;
      }
      .description {
        display: none;
      }
    }
    .bg-img {
      img {
        position: absolute;
        width: 100%;
        height: auto;
        top:0;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }
}

* {
 box-sizing: border-box;
}
 
#galleryPage body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: var(--gradient-9);
}

:root {
  --magnifier: 6;
  --gap: 1vmin;
  --transition: 0.5s;
}
  
.container {
  width: 80vw;
  height: 50vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

img {
  --brightness: 0.75;
  --grayscale: 1;
  transition: flex var(--transition), filter var(--transition);
  height: 100%;
  filter: grayscale(var(--grayscale)) brightness(var(--brightness));
  object-fit: cover;
  overflow: hidden;
  flex: 1;
}

img:hover {
  --brightness: 1.15;
  --grayscale: 0;
  flex: var(--magnifier);
}


/*form*/
#success-message {
  opacity: 0;
}

#contact-form .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
  padding: 0 20% 0 20%;
}

#contact-form .margin-top-25 {
  margin-top: 25px;
}

#contact-form .form-title {
  padding: 25px;
  font-size: 30px;
  font-weight: 300;
}

#contact-form .form-group .form-control {
  -webkit-box-shadow: none;
  border-bottom: 1px;
  border-style: none none solid none;
  border-radius:0; 
  border-color: #1DD3B0;
}

#contact-form .form-group .form-control:focus {
	box-shadow: none;
  border-width: 0 0 2px 0;
  border-color: #1DD3B0;
  
}

#contact-form textarea {
  resize: none;
}

#contact-form .btn-mod.btn-large {
    height: auto;
    padding: 13px 52px;
    font-size: 15px;
}

#contact-form .btn-mod.btn-border {
    color: #1DD3B0;
    border: 1px solid #1DD3B0;
    background: transparent;
}

#contact-form .btn-mod, #contactForm a.btn-mod {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 13px;
    color: #163e20;
    background: #163e20;
    border: 1px solid transparent;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

#contact-form .btn-mod.btn-border:hover, #contact-form .btn-mod.btn-border:active,
#contact-form .btn-mod.btn-border:focus, #contact-form .btn-mod.btn-border:active:focus {
    color: #1DD3B0;
    border-color: #1DD3B0;
    background: #163e20;
    outline: none;
}

@media only screen and (max-width: 500px) {
    #contact-form .btn-mod.btn-large {
       padding: 6px 16px;
       font-size: 11px;
    }
  
    #contact-form form-title {
        font-size: 20px;
  }
}


/* what to expect */
#toDo_list * {
	box-sizing: border-box;
}

#toDo_list body {
	--h: 212deg;
	--l: 43%;
	--brandColor: hsl(var(--h), 71%, var(--l));
	margin: 0;
}

#toDo_list ol {
	list-style: none;
	counter-reset: list;
	padding: 0 1rem;
}

#toDo_list li {
	--stop: calc(100% / var(--length) * var(--i));
	--l: 62%;
	--l2: 88%;
	--h: calc((var(--i) - 1) * (180 / var(--length)));
	--c1: hsl(var(--h), 71%, var(--l));
	--c2: hsl(var(--h), 71%, var(--l2));

	position: relative;
	counter-increment: list;
	max-width: 60rem;
	margin: 2rem auto;
	padding: 2rem 1rem 1rem;
	box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
	border-radius: 0.25rem;
	overflow: hidden;
	background-color: #24652d;
}

#toDo_list li::before {
	content: "";
	display: block;
	width: 100%;
	height: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(
		to right,
		var(--c1) var(--stop),
		var(--c2) var(--stop)
	);
}

#toDo_list h2{   
  color: #d19a1a
}

#toDo_list h3 {
	display: flex;
	align-items: baseline;
	margin: 0 0 1rem;
}

#toDo_list h3::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 1rem;
	width: 3rem;
	height: 3rem;
	content: counter(list);
	padding: 1rem;
	border-radius: 50%;
	background-color: var(--c1);
	color: mintcream;
}

#toDo_list p{
  text-align: left;
}

@media (min-width: 40em) {
	#toDo_list li {
		margin: 3rem auto;
		padding: 3rem 2rem 2rem;
	}

	#toDo_list h3 {
		font-size: 2.25rem;
		margin: 0 0 2rem;
	}

	#toDo_list h3::before {
		margin-right: 1.5rem;
	}
}

