@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700);
@import "compass/css3";
@import "compass/reset/utilities";
@include global-reset;
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

:root {
  --mainColor: #ffb302;
  --accentColor1: #feebb1;
  --highlightColor: #2bb3f7;
  --mainText: #fcf5e0;
  --accentText: #fff;
  --gradientStart: #135303;
  --gradientEnd: #002e01;
}

nav {
  opacity: 100%;
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  width: 319px;
  display: table;
  margin: 0 auto;

  a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: var(--mainColor);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
  }

  a:before,
  a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
  }
  a:before {
    background-color: var(--mainColor);
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
  }
  a:after {
    background-color: var(--gradientEnd);
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
  }

  #indicator {
    position: absolute;
    left: 17%;
    bottom: 0;
    width: 500px;
    height: 3px;
    background-color: var(--accentColor1);
    border-radius: 5px;
    transition: 0.2s ease left;
    background: linear-gradient(190deg, var(--gradientStart), var(--gradientEnd), var(--gradientStart));
  }

  a:hover {
    color: var(--accentColor1);
  }
  a:hover:before,
  a:hover:after {
    transform: scale(1.2);
  }
  a:hover ~ #indicator {
    left: 17%;
    background: linear-gradient(190deg, var(--gradientEnd), var(--gradientStart), var(--gradientEnd));    
  }
}

header {
    position: static;
    z-index: 99;
}


* {
	box-sizing: border-box;
}

body {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom,var(--gradientStart), var(--gradientEnd));
  font-size: 13px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  /*height: 320%;*/
  margin: 0;
}

/* headings */
h1 {
  font-size: 88px;
  font-family: "Gambetta", serif;
  letter-spacing: 0px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: var(--mainColor);
  outline: none;
  text-align: center;
}
h1:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 6px;
  color: var(--gradientEnd);
}

h2 {
  font-size: 67px;
  font-family: "Gambetta", serif;
  letter-spacing: 0.5px;
  margin-bottom: 0.8rem;
  color: var(--accentColor1);
  outline: none;
  text-align: center;  
}

h3 {
  font-size: 35px;
  font-family: "Gambetta", serif;
  letter-spacing: 0.5px;
  margin-bottom: 0.8rem;
  color: #12B149;
  outline: none;
  text-align: center;
  display: flex;
	align-items: baseline;
}

/*general text*/
p { 
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  width: 100%;
  text-indent: 0rem;
  color: var(--mainText);
  letter-spacing: 0.5px;
}

a {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: var(--mainText);
  letter-spacing: 0.5px;
}

/*Text Box*/
.card {
	display: flex;
	flex-direction: column;
  text-align: left;
	width: 45rem;
	height: 25rem;
	border: 1px solid var(--mainColor);
	position: relative;
	padding: 2rem;

	.corner {
		width: 0.5rem;
		height: 0.5rem;
		border: 1px solid var(--mainColor);
		position: absolute;

		&::after,
		&::before {
			content: "";
			position: absolute;
		}

		&::after {
			width: 2rem;
			height: calc(1rem - 1px);
		}

		&::before {
			width: calc(1rem - 1px);
			height: 2rem;
		}

		&.left {
			left: -0.5rem;

			&::after {
				left: calc(-2px + 1rem);
				border-left: 1px solid var(--mainColor);
			}

			&::before {
				left: -1px;
				border-left: 1px solid var(--mainColor);
			}
		}

		&.right {
			right: -0.5rem;

			&::after {
				right: calc(-2px + 1rem);
				border-right: 1px solid var(--mainColor);
			}

			&::before {
				right: -1px;
				border-right: 1px solid var(--mainColor);
			}
		}

		&.top {
			top: -0.5rem;

			&::after {
				top: -1px;
				border-top: 1px solid var(--mainColor);
			}

			&::before {
				top: calc(-2px + 1rem);
				border-top: 1px solid var(--mainColor);
			}
		}

		&.bottom {
			bottom: -0.5rem;

			&::after {
				bottom: -1px;
				border-bottom: 1px solid var(--mainColor);
			}

			&::before {
				bottom: calc(-2px + 1rem);
				border-bottom: 1px solid var(--mainColor);
			}
		}
	}
}
.card:hover{
    height: 75rem;
  }

/*Services drop down*/
* {
  box-sizing: border-box;
  font-size: 16px;
}

.service-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  max-width: 500px;
}
.service-container:hover{
  height: fit-content;
}

.panel {
  position: relative;
  border-radius: 20px;
  background: var(--light-grey);
  height: 58px;
  margin: 5px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.8),
    5px 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: flex 0.4s linear;
  overflow: hidden;
}

.panel:hover {
  height: 950px;
}


.service {
  display: flex;
  margin: 12px 20px;
}

.service h3 {
  margin: 0 10px;
}

.panel:hover .service {
  color: var(--accent-color);
  height: fit-content
}

.service-desc {
  opacity: 0;
  margin: 16px 20px;
  line-height: 28px;
  transition: opacity 0.2s ease-in;
}


.panel:hover .service-desc {
  opacity: 1;
  transition: opacity 0.2s ease-in 0.3s;
  height: 100px;
}

.service-desc:hover {
  height: fit-content;
}



/* what to expect */
#toDo_list * {
	box-sizing: border-box;
}

#toDo_list body {
	--h: 212deg;
	--l: 43%;
	--brandColor: hsl(var(--h), 71%, var(--l));
	margin: 0;
}

#toDo_list ol {
	list-style: none;
	counter-reset: list;
	padding: 0 1rem;
}

#toDo_list li {
	--stop: calc(100% / var(--length) * var(--i));
	--l: 62%;
	--l2: 88%;
	--h: calc((var(--i) - 1) * (180 / var(--length)));
	--c1: hsl(var(--h), 71%, var(--l));
	--c2: hsl(var(--h), 71%, var(--l2));

	position: relative;
	counter-increment: list;
	max-width: 60rem;
	margin: 2rem auto;
	padding: 2rem 1rem 1rem;
	box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
	border-radius: 0.25rem;
	overflow: hidden;
	background-color: #24652d;
}

#toDo_list li::before {
	content: "";
	display: block;
	width: 100%;
	height: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(
		to right,
		var(--c1) var(--stop),
		var(--c2) var(--stop)
	);
}

#toDo_list h2{   
  color: #d19a1a
}

#toDo_list h3 {
	display: flex;
	align-items: baseline;
	margin: 0 0 1rem;
}

#toDo_list h3::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 1rem;
	width: 3rem;
	height: 3rem;
	content: counter(list);
	padding: 1rem;
	border-radius: 50%;
	background-color: var(--c1);
	color: mintcream;
}

#toDo_list p{
  text-align: left;
}

@media (min-width: 40em) {
	#toDo_list li {
		margin: 3rem auto;
		padding: 3rem 2rem 2rem;
	}

	#toDo_list h3 {
		font-size: 2.25rem;
		margin: 0 0 2rem;
	}

	#toDo_list h3::before {
		margin-right: 1.5rem;
	}
}

